button {
  background:whitesmoke;
  }

.control {
background: beige;
height: 100vh;
width: 80%;
display: flex;
justify-content: center;
align-items: center
}
.chatbox {
  background: white;
  height: 90vh;
  width: 80%;
  display:flex;
  flex-direction: column;
  /* align-items: flex-end; */
  border: 1em solid black;

}
.inputBox {
  background: plum;
  width: 100%;
  height: 1.7em;
}
.display {
  background: yellow;
  /* display: flex;
  align-items: flex-end; */
  width: 100%;
}